{% include 'userheader.html'%}
<body style="background: pink">
	<br><br><br>
	<h1 align="center"><font color="black"><u>Feedbacks</u></font></h1>
	<form method="post">

	<table  align="center" class="table" style="width:700px;">
			<tr>
				<th><font color="black">Date</font></th>
				<th><font color="black">User Name</font></th>
				<th><font color="black">Feedback</font></th>
				<th><font color="black">Reply</font></th>
			</tr>
			<tbody>
			{% for row in data['feed']%}
			<td><font color="black"><b>{{row['date']}}</b></font></td>
			<td><font color="black"><b>{{row['NAME']}}</b></font></td>
			<td><font color="black"><b>{{row['feedback']}}</b></font></td>
			<td><font color=black"black"><b>{{row['reply']}}</b></font></td>
			<td>
				<a href="?action=delete&id={{row['feedback_id']}}" class="btn btn-primary">Delete</a>
			</td>
		</tbody>
		{% endfor %}
	</table>
			

	</form>
<br><br>
{% include 'footer.html'%}
