{% include 'adminheader.html' %}

<body style="background-image: url(/static/images/gallery-02.jpg);">
    <form method="post">
        <br><br><br>
        <!--<h1 align="center"><font size="20" color="blue">Sign In</font></h1>
 --> <select name="doctor-name" class="form-select" aria-label="Default select example" required>
            <option selected value="">Select Doctor</option>
            {% for row in data['doc'] %}
            <option value="{{row['doctor_id']}}">{{row['first_name']+' '+row['last_name']}}</option>
            {% endfor %}
        </select>
        date
        <input name="date-value" type="date" required>
        <select name="time-value" class="form-select" aria-label="Default select example" required>
            <option selected value="">Select Available Time</option>
            <option value="809">08:00 Am - 09:00 Am</option>
            <option value="1011">10:00 Am - 11:00 Am</option>
            <option value="1201">12:00 Pm - 01:00 Pm</option>
            <option value="203">02:00 Pm - 03:00 Pm</option>
            <option value="405">04:00 Pm - 05:00 Pm</option>
        </select>
        <input name="submit" type="submit" value="submit">
    </form>
    {% include 'admin_footer.html' %}