{% include 'adminheader.html' %}
<style type="text/css">
    .form-body {
        display: flex;
        flex-direction: column;
        gap: 5vh;
        width: 100vh;
        margin: 7vh auto;
        background-color: #ffffff;
        padding: 7vh;
        border-radius: 2vh;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
</style>

<body style="background-image: url(/static/images/gallery-02.jpg);">
    <form method="post" class="form-body">
        <h1>Add Medicine</h1>
        <div class="form-outline">
            <input name="mname" type="text" id="formControlLg" class="form-control form-control-lg" required />
            <label class="form-label" for="formControlLg">Enter Medicine Name</label>
        </div>
        <div class="form-group shadow-textarea">
            <label for="exampleFormControlTextarea6"></label>
            <textarea name="des" class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                placeholder="Description" required></textarea>
        </div>
        <div class="form-outline">
            <input min="0" name="aval" type="number" id="formControlLg" class="form-control form-control-lg" required />
            <label class="form-label" for="formControlLg">Enter Stock Availability</label>
        </div>
        <div class="form-outline">
            <input min="1" name="cost" type="number" id="formControlLg" class="form-control form-control-lg" required />
            <label class="form-label" for="formControlLg">Enter Cost Per Unit</label>
        </div>
        <button name="submit" type="submit" class="btn btn-primary btn-block mb-3">Submit</button>
        
        <!-- <table align="Center">
            <tr class="tr">
                <th>Medicine</th>
                <td class="td">
                    <input type="text" name="mname" required="" placeholder="Enter Medicine Name">
                </td>
            </tr>
            <tr class="tr">
                <th>Description</th>
                <td class="td">
                    <textarea name="des" required="">

                    </textarea>
                </td>
            </tr>
            <tr class="tr">
                <th>Availability</th>
                <td class="td">
                    <input type="text" name="aval" required="" placeholder="Enter Stock Availability" pattern="[0-9]{}">
                </td>
            </tr>
            <tr class="tr">
                <th>Cost Per Unit</th>
                <td class="td">
                    <input type="text" name="cost" required="" placeholder="Enter Cost Per Unit">
                </td>
            </tr>
            <tr class="tr">
                <td colspan="2" align="center" class="td">
                    <input type="submit" name="submit" value="Add" class="btn btn-primary">
                </td>
            </tr>
        </table> -->
    </form>

    {% include 'admin_footer.html' %}