{% include 'adminheader.html' %}
<style type="text/css">
    form {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .body-div {
        height: 84vh;
    }

    .grp-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 77vh;
        min-height: 47vh;
        border-radius: 2vh;
        padding: 4vh;
        gap: 2rem;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    .form-outline {
        height: 3rem;
    }
</style>


<body style="background-image: url(/static/images/gallery-02.jpg);">
    <div class="body-div">
        <form method="post">
            <div class="grp-div">
                <h1>Add Rooms</h1>
                <div class="form-outline">
                    <input name="rname" type="text" id="formControlLg" class="form-control form-control-lg" autocomplete="off"  />
                    <label class="form-label" for="formControlLg">Room Name</label>
                </div>
                <div class="btn-group">
                    <input name="status" value="Reserved" type="radio" class="btn-check" name="options" id="option1" autocomplete="off" />
                    <label class="btn btn-secondary"  for="option1">Occupied</label>

                    <input name="status" value="Not Reserved" type="radio" class="btn-check" name="options" id="option2" autocomplete="off" checked/>
                    <label class="btn btn-secondary" for="option2">Vacant</label>
                </div>
                <input name="submit" class="btn btn-primary" type="submit" value="Submit" />
            </div>
            <!-- rname,status,submit -names -->
        </form>
    </div>
    {% include 'admin_footer.html' %}