<!DOCTYPE html>
<html lang="en"><!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Health Lab </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/mdb.min.css">
    <!-- Pogo Slider CSS -->
    <!-- <link rel="stylesheet" href="/static/css/pogo-slider.min.css"> -->
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Responsive CSS -->
    <!-- <link rel="stylesheet" href="/static/css/responsive.css"> -->
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="/static/css/custom.css"> -->
    <!-- Toast CSS -->
    <link rel="stylesheet" href="/static/css/toast.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98" style="background-image: url();">
    <style>
        li a {
            display: block;
            width: 100%;
        }
    </style>
    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="../static/images/preloader.gif" alt="" />
        </div>
    </div>
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="image"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
                    aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link " href="/admin/adminhome">Home</a></li>&nbsp;&nbsp;&nbsp;
                        <li class="dropdown">
                            <a href="#" class="nav-link " data-toggle="dropdown">Manage</a>
                            <ul class="dropdown-menu ">
                                <li><a href="/admin/managerooms">Add Rooms</a></li>
                                <li><a href="/admin/manage_patients">Add Patients</a></li>
                                <li><a href="/admin/manage_pharmacy">Add Pharmacy</a></li>
                                <li><a href="/admin/assign_doc">Assign Doctor</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="nav-link " data-toggle="dropdown">View</a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/viewdoctors">Doctor Details</a></li>
                                <li><a href="/admin/viewpatients">Patients Details</a></li>
                                <li><a href="/admin/view_pharmacy">Pharmacy&nbsp;Details</a></li>
                                <li><a href="/admin/view_feedbacks">Feedbacks</a></li>
                                <li><a href="/admin/view_orderedmedicine">Delivery Status</a></li>
                                <li><a href="/admin/view_rooms">Rooms</a></li>

                            </ul>
                        </li>
                    </ul>
                    </li>
                    <li><a class="nav-link" href="/" onClick="return confirmLogout()">SIGN OUT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for message in messages %}
    <script>alert("{{ message }}")</script>
    {% endfor %}

    {% endif %}
    {% endwith %}

    <script language="JavaScript" type="text/javascript">
        function confirmLogout() {
            var agree = confirm("Are you sure want to Logout?");
            if (agree) {
                return true;
            } else {
                return false;
            }
        }
        window.history.forward();

        function noBack() {
            window.history.forward();
        }

        // Disable back button on all browsers
        window.onload = function () {
            setTimeout(noBack(), 0);
            window.onpageshow = function (evt) { if (evt.persisted) noBack(); };
            window.onunload = function () { void (0); };
        };

    </script>