{% include 'adminheader.html'%}
<style>
	.main-feed {
		display: flex;
		flex-direction: column;
		min-height: 70vh;
		width: 100vh;
		border: 2px solid rgba(80, 80, 80, 0.757);
		margin: 7vh auto;
		border-radius: 2rem;
		padding: 1rem;
	}

	.mes-div {
		width: 100%;
		height: 20vh;
		background-color: antiquewhite;
		margin-bottom: 1rem;
		background-color: #ffffff;
		border-radius: 2vh;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		cursor: pointer;
		padding: 3vh;
	}

	.mes-div:hover {
		box-shadow: rgba(149, 157, 165, 0.435) 0px 8px 24px;
	}

	.use-type {
		display: flex;
		align-items: center;
		/* padding: 10px; */
		height: fit-content;
	}

	.use-type p {
		margin: 0;
		margin-left: 7px;
	}

	.name-div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.name-div h1 {
		margin: 0;
		padding: 0%;
	}

	.not-date,
	.not-time,
	.mes-con {
		display: flex;
		align-items: center;
	}

	.not-date p,
	.not-time p,
	.mes-con p {
		margin: 0;
		padding: 0%;
		padding-left: 2vh;
	}

	.not {
		display: flex;
		gap: 3vh;
	}

	.mes-icon-con {
		display: flex;
		justify-content: space-between;
	}
	.acc-type{
		text-transform: capitalize;
	}
</style>

<body style="background: pink">

	<div class="main-feed">
		<h1>Feedbacks</h1>
		{% for row in data['feed'] %}
		<a href="view_message?from_id={{row['fromid']}}&n={{row['name']}}&u={{row['usertype']}}">
			<div class="mes-div">
				<div class="name-div">
					<h1>{{row['name']}}</h1>
					<i class="far fa-bell"></i>
				</div>
				<div class="mes-icon-con">
					<div class="use-type">
						<i class="far fa-circle-user"></i>
						<p class="acc-type">{{row['usertype']}}</p>
					</div>
					<div class="mes-con">
						<i class="far fa-comment-dots"></i>
						<p>1 new message</p>
					</div>
				</div>
				<!-- <h2>Notification</h2> -->
				<div class="not">
					<div class="not-date">
						<i class="far fa-calendar"></i>
						<p>{{row['date']}}</p>
					</div>
					<div class="not-time">
						<i class="far fa-clock"></i>
						<p>{{row['time']}}</p>
					</div>
				</div>
			</div>

		</a>
		{% endfor %}

	</div>

	{% include 'admin_footer.html'%}