{% include 'adminheader.html' %}
<br><br>
<style>
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		background-color: white;
		padding: 10px;
		grid-row-gap: 5px;
		grid-column-gap: 10px;
	}

	.su-container {
		margin: 0 8vh 4vh 8vh;
		border: 2px rgba(0, 0, 0, 0.156) solid;
		width: 80vh;
		padding: 20px;
		border-radius: 1vh;
	}

	.grid-item {
		background-color: white;
		padding: 10px;
		border: 1px solid black;
		border-radius: 15px;
	}

	h1 {
		text-transform: capitalize;
	}

	.imageContainer {
		height: 240px;
		width: 157px;
		background-color: aqua;
		border-radius: 5px;
	}

	.imageContainer img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		cursor: pointer;
	}

	.sub1 {
		height: 240px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.subContainer {
		display: flex;
		justify-content: space-between;
	}

	textarea {
		margin-top: 2vh;
		width: 100%;
		outline: none;
	}

	.parent-Cont {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	input[type="file"] {
		display: block;
		opacity: 0%;
		position: absolute;
		height: 1px;
	}
</style>

<body style="background-image: url(/static/images/gallery-02.jpg);">
	<!-- <div class="grid-container">

		{% for row in data['doc'] %}
		<div class="grid-item">

			<div class="Details">
				<div class="namelabel">
					<h2>Dr.{{row['NAME']}}</h2>
					<h5>{{row['Qualification']}}</h5>
				</div>
				<div class="contactlabel">
					<h6>{{row['gender']}}</h6>
					<h4>{{row['phone']}}</h4>
					<h4>{{row['email']}}</h4>
				</div>
			</div>


			{% if row['usertype'] == 'Pending' %}
			<td>
				<a href="/admin/viewdoctors?id1={{row['login_id']}}" style="text-decoration: none"
					class="btn btn-primary">Accept</a>
				<a href="/admin/viewdoctors?id2={{row['login_id']}}" style="text-decoration: none"
					class="btn btn-primary">Reject</a>
			</td>
			{% else %}
			<td>
				<font color="black"><b>{{row['usertype']}}</b></font>
			</td>
			{% endif %}
			<a href="?action=delete&id={{row['doctor_id']}}&id1={{row['login_id']}}" class="btn btn-sm btn-danger"
				style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete</a>
		</div>
		{% endfor %}
	</div> -->
	<div class="parent-Cont">
		{% for row in data['doc'] %}
		<div class="su-container">
			<div class="subContainer">
				<div class="sub1">
					<div>
						<h1>Dr.{{row['NAME']}}</h1>
						<h5>{{row['Qualification']}}</h5>
					</div>
					<h3>+91 {{row['phone']}}</h3>
					<h3>{{row['email']}}</h3>
				</div>
				<div class="sub2">
					<label for="file-ip-{{ loop.index }}">
						<div class="imageContainer">
							<!-- {% if row['profile_pic == "none" '] %}
								{% if row['gender'] == 'female' %}
								<img src="https://img.freepik.com/free-vector/doctor-background-design_1270-62.jpg?size=626&ext=jpg"
									alt="" id="file-ip-1-preview">
								{% elif row['gender'] == 'other'%}
								<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BrvftUuObhVHhlrmMAAMFwHaHa%26pid%3DApi&f=1&ipt=fa3ccaf1994c59a6369dd391c55459e78fc2b1d755d8c44e50e6be8dc2532921&ipo=images"
									alt="" id="file-ip-1-preview">
								{% else %}
								<img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=626&ext=jpg"
									alt="" id="file-ip-1-preview">
								{% endif %}
							{% else %}
							<img src="/{{row['profile_pic']}}"
							alt="" id="file-ip-1-preview">
							{% endif %} -->

							{% if row['gender'] == 'female' and row['profile_pic'] == None %}
							<img src="https://img.freepik.com/free-vector/doctor-background-design_1270-62.jpg?size=626&ext=jpg"
								alt="" id="file-ip-1-preview">
							{% elif row['gender'] == 'other' and row['profile_pic'] == None %}
							<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.BrvftUuObhVHhlrmMAAMFwHaHa%26pid%3DApi&f=1&ipt=fa3ccaf1994c59a6369dd391c55459e78fc2b1d755d8c44e50e6be8dc2532921&ipo=images"
								alt="" id="file-ip-1-preview">
							{% elif row['gender'] == 'male' and row['profile_pic'] == None %}
							<img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?size=626&ext=jpg"
								alt="" id="file-ip-1-preview">
							{% elif row['profile_pic'] != NULL %}
							<img src="/{{row['profile_pic']}}" alt="" id="file-ip-1-preview">
							{% endif %}
					</label>
				</div>
				<input name="file" type="file" id="file-ip-{{ loop.index }}" accept="image/*" onchange="showPreview(event);">
			</div>
		</div>
		<div class="textarea">
			<textarea name="" id="" placeholder="Write the Specialization">{{row['specialization']}}</textarea>
			<input type="hidden" value="{{row['doctor_id']}}">
		</div>
		<div class="buttons-div">
			{% if row['usertype'] == 'Pending' %}
			<a href="/admin/viewdoctors?id1={{row['login_id']}}" style="text-decoration: none"
				class="btn btn-primary">Accept</a>
			<a href="/admin/viewdoctors?id2={{row['login_id']}}" style="text-decoration: none"
				class="btn btn-primary">Reject</a>`
			{% elif row['usertype']=='Request Reject' %}
			<a href="/admin/viewdoctors?id3={{row['login_id']}}" style="text-decoration: none"
				class="btn btn-primary">Unblock</a>`
			{% endif %}
			<button class="btn btn-success" onclick="save(event)">Save</button>
			<a href="?action=delete&id={{row['doctor_id']}}&id1={{row['login_id']}}" class="btn btn-sm btn-danger"
				style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete</a>
		</div>
	</div>
	{% endfor %}
	</div>


</body>
<script src="/static/js/toast.js"></script>
<script>
	function showPreview(event) {
		if (event.target.files.length > 0) {
			var parent = event.target.parentElement;
			var parent = parent.children[0];
			var src = URL.createObjectURL(event.target.files[0]);
			var preview = parent.children[0];
			console.log(preview);
			preview.src = src;
			preview.style.display = "block";
		}
	}
	function save(event) {
		var parentdiv = event.target.parentNode.parentNode;
		// console.log(parentdiv);
		let text = parentdiv.children[1].children[0].value;
		let docId = parentdiv.children[1].children[1].value;

		var fd = new FormData();
		var files = event.target.parentNode.parentNode.children[0].children[1].children[0].children[1].files[0];
		if (files != null){
			fd.append('file', files);
		}
		fd.append('text', text);
		fd.append('docid', docId);
		// ajax starts
		$.ajax({
			type: "POST",
			url: "save",
			data: fd,
			processData: false,
			contentType: false,
			success: function (tex) {
				if ( tex == "bothSuccess"){
					Success();
				}
				else if(tex == "text"){
					Success();
				}
				else if(tex == "error") {
					ErrorCase();
				}
			}
		});
		// ajax ends
	}
	function Success() {
		toastNotif({
			text: 'Saved Successfully',
			color: '#5bc83f',
			timeout: 3000,
			icon: 'valid'
		});
	}
	function Warring1() {
		toastNotif({
			text: 'Specialization Updated',
			color: '#ebb73f',
			timeout: 3000,
			icon: 'warring'
		});
	}
	function Warring2() {
		toastNotif({
			text: 'Image Uploaded',
			color: '#ebb73f',
			timeout: 3000,
			icon: 'warring'
		});
	}
	function ErrorCase() {
		toastNotif({
			text: 'Something went wrong !',
			color: '#da4848',
			timeout: 3000,
			icon: 'error'
		});
	}	
</script>
{% include 'admin_footer.html' %}