{% include 'adminheader.html' %}
<style>
	.body-conatiner {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: auto;
		margin-top: 7vh;
		min-height: 100vh;
	}

	.card-container {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.card {
		width: 57vh;
		min-height: 30vh;
	}

	.card p {
		text-transform: capitalize;
	}
</style>

<body>
	<div class="body-conatiner">
		<h1>
			Pharmacy Details
		</h1>
		<div class="card-container">
			{% for row in data['phar'] %}
			<!-- <div class="grid-item">
				<h3><b>Pharmacy
						Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row['phar_name']}}</b>
				</h3><br>

				<h3><b>Contact Number:&nbsp;&nbsp;&nbsp;&nbsp;{{row['phone']}}</b></h3><br>
				<h3><b>Email-ID:&nbsp;&nbsp;&nbsp;&nbsp;{{row['email']}}</b></h3><br>
				<h3><b>Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{row['address']}}</h3>
				</b><br>
				<a href="?action=delete&id={{row['pharmacy_id']}}" class="btn btn-sm btn-danger"
					style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete</a>&nbsp;&nbsp;
				<a href="/admin/add_medicine?id={{row['pharmacy_id']}}" class="btn btn-sm btn-danger"
					style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Add Medicine</a>
			</div> -->
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">{{row['phar_name']}}</h2>
					<h3>+91 {{row['phone']}}</h3>
					<h3 class="card-text">{{row['email']}}</h3>
					<p class="card-text">{{row['address']}}</p>
					<a href="?action=delete&id={{row['pharmacy_id']}}" class="btn btn-sm btn-danger"
						style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete</a>&nbsp;&nbsp;
					<a href="/admin/add_medicine?id={{row['pharmacy_id']}}" class="btn btn-primary"
						style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Add Medicine</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</body>

{% include 'admin_footer.html' %}