{% include 'publicheader.html' %}

<head>
    <link rel="stylesheet" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/css/register_style.css">
</head>

<body>
    <style>
        input::placeholder,
        select {
            font-size: 0.8rem !important;
            color: black !important;
        }

        input:focus,
        select:focus {
            box-shadow: none !important;
        }
    </style>
    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="../static/images/registration-form-1.jpg" alt="">
            </div>
            <form method="post">
                <h3>Registration Form</h3>
                <div class="form-group">
                    <input type="text" name="fname" placeholder="First Name" class="form-control required">
                    <input type="text" name="lname" placeholder="Last Name" class="form-control required">
                </div>

                <div class="form-wrapper">
                    <select  id="" class="form-control" name="qual" required>
                        <option value="" disabled selected>Qualification</option>
                        <option>PG</option>
                        <option>M.Phil</option>>
                        <option>PHD</option>
                        <option>Other</option>
                    </select>
                    <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                </div>
                <div class="form-wrapper">
                    <!-- <input type="text" placeholder="Email Address" class="form-control"> -->
                    <input class="form-control" type="text" name="phone" required placeholder="Mobile Number" pattern="[0-9]{10}">
                    <i class="zmdi zmdi-phone"></i>
                </div>
                <div class="form-wrapper">
                    <input name="email" type="text" placeholder="Email Address" class="form-control" required>
                    <i class="zmdi zmdi-email"></i>
                </div>
                <div class="form-wrapper">
                    <select name="gender" id="" class="form-control" >
                        <option value="" disabled selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
                </div>
                <div class="form-wrapper">
                    <input name="uname" type="text" placeholder="Username" class="form-control">
                    <i class="zmdi zmdi-account"></i>
                </div>
                <div class="form-wrapper">
                    <input name="password" type="password" placeholder="Password" class="form-control">
                    <i class="zmdi zmdi-lock"></i>
                </div>
                <button type="submit" name="submit">Register
                    <i class="zmdi zmdi-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
    <footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2023 <a href="#">Health Lab</a> Design By : <a href="#">Matthews</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.pogo-slider.min.js"></script> 
	<script src="/static/js/slider-index.js"></script>
	<script src="/static/js/smoothscroll.js"></script>
	<script src="/static/js/TweenMax.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/form-validator.min.js"></script>
    <script src="/static/js/contact-form-script.js"></script>
	<script src="/static/js/isotope.min.js"></script>	
	<script src="/static/js/images-loded.min.js"></script>	
    <script src="/static/js/custom.js"></script>
</body>
</html>