<br><br><br>
<br><br><br><br><br>
<!-- <br><br><br><br>
 --><!-- <br><br><br><br><br><br>
 --><!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2022 <a href="#">Health Lab</a> Design By : <a href="https://html.design/">Revivel design</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.pogo-slider.min.js"></script> 
	<script src="/static/js/slider-index.js"></script>
	<script src="/static/js/smoothscroll.js"></script>
	<script src="/static/js/TweenMax.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/form-validator.min.js"></script>
    <script src="/static/js/contact-form-script.js"></script>
	<script src="/static/js/isotope.min.js"></script>	
	<script src="/static/js/images-loded.min.js"></script>	
    <script src="/static/js/custom.js"></script>
</body>
</html>