<!DOCTYPE html>
<html lang="en"><!-- Basic -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Site Metas -->
	<title>Health Lab </title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<!-- Pogo Slider CSS -->
	<link rel="stylesheet" href="/static/css/pogo-slider.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="/static/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/static/css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/static/css/custom.css">

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link " href="/">Home</a></li>&nbsp;&nbsp;&nbsp;
						<li><a class="nav-link "href="#about">About Us</a></li>
						<li><a href="#services" class="nav-link">Services</a></li>
						<li><a href="#gallery" class="nav-link">Gallery</a></li>
						<li><a href="#blog" class="nav-link">Blog</a></li>
						<li><a href="#contact" class="nav-link">Contact us</a></li>
						<li><a class="nav-link" href="/login">Sign In</a></li>
						<li class="dropdown">
							<a href="#" class="nav-link " data-toggle="dropdown">Register</a>
							<ul class="dropdown-menu ">
								<li><a href="/doctors_register">Doctors</a></li>
							</ul>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url(/static/images/slider-01.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">

								<h1>Welcome to Health Lab</h1>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url(/static/images/slider-02.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Get the care you need, when you need it, from the comfort of your own home</h1>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url(/static/images/slider-03.jpg);">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Experience the convenience of virtual healthcare with our easy-to-use app</h1>
							</div>
						</div>

					</div>
				</div><!-- .pogoSlider -->
			</div>
		</div>
	</div>
	<!-- End Banner -->

	<!-- Start About us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>About Us</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2> Welcome to Health Lab </h2>
								<p>Health Lab is a website or service that provides its users the ability to schedule
									appointments with doctors, allowing patients to connect with doctors without a
									physical presence, where doctors can offer suggestions and prescriptions.
									Furthermore, Health Lab allows patients to share their health progress with doctors
									and facilitates telemedicine features through video calls.
								</p>
								<p>Health Lab aims to make healthcare more accessible and convenient for patients by
									leveraging technology.By offering telemedicine features, Health Lab enables patients
									to receive medical care from the comfort of their own homes.
								</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul id="banner">
										<li>
											<img src="/static/images/about-img-01.jpg" alt="">
										</li>
										<li>
											<img src="/static/images/about-img-02.jpg" alt="">
										</li>
										<li>
											<img src="/static/images/about-img-03.jpg" alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About us -->

	<!-- Start Services -->
	<div id="services" class="services-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Services</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
								<h3 class="title">Convenient Healthcare</h3>
								<p class="description">
									Get quality healthcare without the need for in-person visits, making it especially
									helpful for people with mobility issues or those living in remote areas.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-heart" aria-hidden="true"></i></div>
								<h3 class="title">Affordable</h3>

								<p class="description">
									Health Lab offers affordable healthcare options for everyone, regardless of their
									budget.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-hospital-o" aria-hidden="true"></i></div>
								<h3 class="title">24/7 Availability</h3>
								<p class="description">
									Health Lab is available 24/7, making it easy to get healthcare when you need it, day
									or night.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-stethoscope" aria-hidden="true"></i></div>
								<h3 class="title">Wide Range of Specializations</h3>
								<p class="description">
									Access qualified doctors with expertise in various medical fields, from routine
									check-ups to chronic conditions.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-wheelchair" aria-hidden="true"></i></div>
								<h3 class="title">Convenient Healthcare</h3>
								<p class="description">
									Get quality healthcare without the need for in-person visits, making it especially
									helpful for people with mobility issues or those living in remote areas.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-plus-square" aria-hidden="true"></i></div>
								<h3 class="title">Easy to Use</h3>
								<p class="description">
									The system is user-friendly and intuitive, making it easy to navigate and manage
									health information.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-medkit" aria-hidden="true"></i></div>
								<h3 class="title">Admin Control</h3>
								<p class="description">
									The system has an admin control feature that allows the admin to manage all user
									accounts and delete them if necessary.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-user-md" aria-hidden="true"></i></div>
								<h3 class="title">Instant Doctor Appointments</h3>
								<p class="description">
									Book appointments with specific doctors without waiting in queues or token systems.
								</p>
							</div>
						</div>
						<div class="item">
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-ambulance" aria-hidden="true"></i></div>
								<h3 class="title">Medicine Home Delivery</h3>
								<p class="description">
									Get medicine delivered right to your doorstep in a cash on delivery manner.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Services -->

	<!-- Start Appointment -->
	<div id="appointment" class="appointment-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Appointment</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
						<div class="well-title">
							<h2>Book an Appointment</h2>
						</div>
						<form>
							<!-- Form start -->
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="name">Name</label>
										<input id="name" name="name" type="text" placeholder="Name"
											class="form-control input-md">
									</div>
								</div>
								<!-- Text input-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="email">Email</label>
										<input id="email" name="email" type="text" placeholder="E-Mail"
											class="form-control input-md">
									</div>
								</div>
								<!-- Text input-->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="date">Preferred Date</label>
										<input id="date" name="date" type="text" placeholder="Preferred Date"
											class="form-control input-md">
									</div>
								</div>
								<!-- Select Basic -->
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label" for="time">Preferred Time</label>
										<select id="time" name="time" class="form-control">
											<option value="8:00 to 9:00">8:00 to 9:00</option>
											<option value="9:00 to 10:00">9:00 to 10:00</option>
											<option value="10:00 to 1:00">10:00 to 1:00</option>
										</select>
									</div>
								</div>
								<!-- Select Basic -->
								<div class="col-md-12">
									<div class="form-group">
										<label class="control-label" for="appointmentfor">Department</label>
										<select id="appointmentfor" name="appointmentfor" class="form-control">
											<option value="Choose Department">Choose Department</option>
											<option value="Gynacology">Gynacology</option>
											<option value="Dermatologist">Dermatologist</option>
											<option value="Orthology">Orthology</option>
											<option value="Anesthesiology">Anesthesiology</option>
											<option value="Ayurvedic">Ayurvedic</option>
										</select>
									</div>
								</div>
								<!-- Button -->
								<div class="col-md-12">
									<div class="form-group">
										<button id="singlebutton" name="singlebutton" class="new-btn-d br-2">Make An
											Appointment</button>
									</div>
								</div>
							</div>
						</form>
						<!-- form end -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="well-block">
						<div class="well-title">
							<h2>Why Appointment with Us</h2>
						</div>
						<div class="feature-block">
							<div class="feature feature-blurb-text">
								<h4 class="feature-title">24/7 Hours Available</h4>
								<div class="feature-content">
									<p>Health Lab is available 24/7, making it easy to get healthcare when you need it,
										day or night.</p>
								</div>
							</div>
							<div class="feature feature-blurb-text">
								<h4 class="feature-title">Privacy and Security</h4>
								<div class="feature-content">
									<p>Health Lab values patient privacy and ensures that all interactions between
										doctors and patients are secure and confidential.
									</p>
								</div>
							</div>
							<div class="feature feature-blurb-text">
								<h4 class="feature-title">Low Price & Fees</h4>
								<div class="feature-content">
									<p>Health Lab offers affordable healthcare options for everyone,
										regardless of their budget.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Appointment -->

	<!-- Start Gallery -->
	<div id="gallery" class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Gallery</h2>
					</div>
				</div>
			</div>

			<div class="popup-gallery row clearfix">
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-01.jpg" alt="">
						<div class="box-content">
							<h3 class="title">Instant Doctor Appointments</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-01.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-02.jpg" alt="">
						<div class="box-content">
							<h3 class="title">Medicine Home Delivery</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-02.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-03.jpg" alt="">
						<div class="box-content">
							<h3 class="title">No Physical Presence Required</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-03.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-04.jpg" alt="">
						<div class="box-content">
							<h3 class="title">Wide Range of Specializations</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-04.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-05.jpg" alt="">
						<div class="box-content">
							<h3 class="title">Easy to Use</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-05.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-06.jpg" alt="">
						<div class="box-content">
							<h3 class="title">Convenient Healthcare</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-06.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-07.jpg" alt="">
						<div class="box-content">
							<h3 class="title">Affordable</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-07.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="box-gallery">
						<img src="/static/images/gallery-08.jpg" alt="">
						<div class="box-content">
							<h3 class="title">24/7 Availability</h3>
							<ul class="icon">
								<li><a href="/static/images/gallery-08.jpg"><i class="fa fa-picture-o"
											aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->

	<!-- Start Team -->
	<div id="team" class="team-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Our Doctor</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="/static/images/img-1.jpg" alt="">
						</div>
						<div class="team-content">
							<h3 class="title">Dr. Sandra Lee</h3>
							<span class="post">M.S,Ph.D,MBBS</span>
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="/static/images/img-2.jpg" alt="">
						</div>
						<div class="team-content">
							<h3 class="title">Dr. Stephen Strange</h3>
							<span class="post">M.D., Ph.D</span>
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<div class="pic">
							<img src="/static/images/img-3.jpg" alt="">
						</div>
						<div class="team-content">
							<h3 class="title">Dr. Heavenly Kimes</h3>
							<span class="post">B.D.S, Dermatologists</span>
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- End Team -->

	<!-- Start Blog -->
	<div id="blog" class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Blog</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="/static/images/blog-img-01.jpg" alt="" />
						</div>
						<div class="item-meta">
							<a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
							<a href="#"><i class="fa fa-user-o"></i> Admin</a>
							<span class="dti">17 Feb 2023</span>
						</div>
						<h2>Coronavirus (COVID-19) outbreak</h2>
						<p>The world is in the midst of a coronavirus disease (COVID-19) pandemic. Since 1 January 2020,
							WHO has been working with countries and areas across the Western Pacific Region to share the
							latest evidence, prepare for and respond to COVID-19.</p>
						<a class="new-btn-d br-2" href="https://www.who.int/westernpacific/emergencies/covid-19">Read
							More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="/static/images/blog-img-02.jpg" alt="" />
						</div>
						<div class="item-meta">
							<a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
							<a href="#"><i class="fa fa-user-o"></i> Admin</a>
							<span class="dti">25 July 2022</span>
						</div>
						<h2>Mental health </h2>
						<p>Mental health is critically important for everyone, everywhere, and goes beyond the mere
							absence </p>
						<a class="new-btn-d br-2"
							href="https://www.who.int/westernpacific/health-topics/mental-health#tab=tab_1">Read More <i
								class="fa fa-angle-double-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="blog-inner">
						<div class="blog-img">
							<img class="img-fluid" src="/static/images/blog-img-03.jpg" alt="" />
						</div>
						<div class="item-meta">
							<a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
							<a href="#"><i class="fa fa-user-o"></i> Admin</a>
							<span class="dti">16 July 2022</span>
						</div>
						<h2>Air pollution </h2>
						<p>Air pollution is one of the greatest environmental risk to health. Air pollution leads people
							to be exposed to fine particles in polluted air that penetrate deep into the lungs and
							cardiovascular system, causing diseases including stroke, heart disease, lung cancer, </p>
						<a class="new-btn-d br-2" href="#">Read More <i class="fa fa-angle-double-right"
								aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Blog -->

	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contact us</h2>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-12 col-xs-12">
					<div class="contact-block">
						<form id="contactForm">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" id="name" name="name"
											placeholder="Your Name" required data-error="Please enter your name">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" placeholder="Your Email" id="email" class="form-control"
											name="name" required data-error="Please enter your email">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" placeholder="Your number" id="number" class="form-control"
											name="number" required data-error="Please enter your number">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" id="message" placeholder="Your Message" rows="8"
											data-error="Write your message" required></textarea>
										<div class="help-block with-errors"></div>
									</div>
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Send Message</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>


				<div class="col-lg-12 col-xs-12">
					<div class="left-contact">
						<h2>Address</h2>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Address</h4>
								<p>Fleming 196 Woodside Circle Mobile, FL 36602</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Email</h4>
								<a href="#">virtuallab@gmail.com</a><br>
								<a href="">adminvirtuallab@gmail.com</a>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Phone Number</h4>
								<a href="#">+91 0000000000</a><br>
								<a href="#">+91 0000000000</a>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Start Subscribe -->
	<div class="subscribe-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="subscribe-inner text-center clearfix">
						<h2>Subscribe</h2>
						<p>Get more information and updates subscribe</p>
						<form action="#" method="post">
							<div class="form-group">
								<input class="form-control-1" id="email-1" name="email" placeholder="Email Address"
									required="" type="text">
							</div>
							<div class="form-group">
								<button type="submit" class="new-btn-d br-2">
									Subscribe
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Subscribe -->

	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2022 <a href="#">Health Lab</a> Design By
						: <a href="https://html.design/">Matthews</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->
	<script src="/static/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/js/jquery.pogo-slider.min.js"></script>
	<script src="/static/js/slider-index.js"></script>
	<script src="/static/js/smoothscroll.js"></script>
	<script src="/static/js/TweenMax.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script src="/static/js/owl.carousel.min.js"></script>
	<script src="/static/js/form-validator.min.js"></script>
	<script src="/static/js/contact-form-script.js"></script>
	<script src="/static/js/isotope.min.js"></script>
	<script src="/static/js/images-loded.min.js"></script>
	<script src="/static/js/custom.js"></script>
</body>

</html>

{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<script>alert("{{ message }}")</script>
{% endfor %}

{% endif %}
{% endwith %}