{% include 'userheader.html'%}
<body style="background: pink">
	<br><br><br>
	<h1 align="center"><font color="black"><u>Delivery Status</u></font></h1>
	<form method="post">

	<table  align="center" class="table" style="width:700px;">
			<tr>
				<th><font color="black">Date</font></th>
				<th><font color="black">Patient Name</font></th>
				<th><font color="black">Medicine Name</font></th>
				<th><font color="black">Quantity</font></th>
				<th><font color="black">Total Amount</font></th>
				<th><font color="black">Status</font></th>

			</tr>
			<tbody>
			{% for row in data['order']%}
			<td><font color="black"><b>{{row['date']}}</b></font></td>
			<td><font color="black"><b>{{row['NAME']}}</b></font></td>
			<td><font color="black"><b>{{row['medicine_name']}}</b></font></td>
			<td><font color="black"><b>{{row['quantity']}}</b></font></td>
			<td><font color="black"><b>{{row['total_amount']}}</b></font></td>
			<td><font color="purple"><b>{{row['delivery_status']}}</b></font></td>
			
		</tbody>
							

		{% endfor %}
	</table>
			

	</form>
<br><br><br><br>
{% include 'footer.html'%}
