{% include 'userheader.html'%}
<style>
	.body-conatiner {
		display: flex;
		flex-direction: column;
		width: 90%;
		margin: auto;
		margin-top: 7vh;
		min-height: 100vh;
	}

	.card-container {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.card {
		width: 57vh;
		min-height: 30vh;
	}

	.card p {
		text-transform: capitalize;
	}
	h2{
text-transform: capitalize;
	}
</style>
<div class="body-conatiner">
	<h1>
		Pharmacy Details
	</h1>
	<div class="card-container">
		{% for row in data['pre'] %}
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">Dr {{ row['doctor_name'] }}</h2>
				<div class="form-outline">
					<textarea class="form-control" id="textAreaExample" rows="4" disabled>{{row['txt']}}</textarea>
				</div>
				<h3 class="card-text"></h3>
				<!-- <p class="card-text"></p>
				<a href="?action=delete&id=" class="btn btn-sm btn-danger"
					style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Delete</a>&nbsp;&nbsp;
				<a href="/admin/add_medicine?id=" class="btn btn-primary"
					style="text-decoration: none; size: width=350px; height: 40px; padding:10px;">Add Medicine</a> -->
			</div>
		</div>
		{% endfor %}

	</div>
</div>
</body>

{% include 'footer.html'%}